@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#3C4767;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

.updateform{
  display: none;
}


/*後で確認!!　ハンバーガーメニュー*/


.gnavi{
  display: none;
}

.gnavi{
  position: fixed; /*表示位置を固定*/
  z-index: 2; /*重ね順を変更*/
  top: 0; /*表示位置を指定*/
  left: 0; /*表示位置を指定*/
  background: #fff;/*背景を白にする*/
  color: #000; /*文字色を黒にする*/
  text-align: center; /*テキストを中央揃え*/
  width: 20%; /*全幅表示*/
  height: 30%;
  transform: translateY(-100%); /*ナビを上に隠す*/
  transition: all 0.6s; /*アニメーションの時間を指定*/
}

.gnavi ul li a{
  display: block; /*クリックできる領域を広げる*/
  color: #000;
  padding: 20px 0;
  text-decoration: none;
}

/*トグルボタンが押されたときに付与するクラス*/
.gnavi.active{
  transform: translateY(0%);
}
